@use "../../styles/partials/variables" as *;

.dogCard {
  width: 90%;
  min-width: 28rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 5px 5px 8px);

  @media (min-width: 405px) {
    width: 45%;
    min-width: 17.5rem;
    max-width: 28rem;
  }

  @media (min-width: 650px) {
    width: 30%;
    max-width: 22rem;
  }

  @media (min-width: 743px) {
    max-width: 26rem;
    width: 45%;
  }

  @media (min-width: 957px) {
    width: 30%;
  }

  &__container {
    height: 14rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .dogCard__img {
      object-fit: cover;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 100%;
      width: auto;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1rem 2rem;
    row-gap: 0.8rem;
    position: relative;

    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .dogCard__favorite {
        height: 2.6rem;
        width: 2.6rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .dogCard__heart {
          -webkit-filter: drop-shadow(0px 0px 3px #ffffff);
          filter: drop-shadow(0px 0px 3px #ffffff);
        }
      }

      .dogCard__name {
        font-size: 2rem;
        line-height: 2.6rem;
        max-width: 24rem;
      }
    }

    &--bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 5px;
      font-size: 1.4rem;
      column-gap: 1rem;

      .dogCard__breed {
        width: 100%;
      }
    }
  }
}
