@use "../../styles/partials/variables" as *;

.dogCard {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 5px 5px 8px);

  &__container {
    height: 14rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .dogCard__img {
      object-fit: cover;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 100%;
      width: auto;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1rem 2rem;
    row-gap: 0.8rem;
    position: relative;

    .dogCard__favorite {
      position: absolute;
      top: 1rem;
      right: 2rem;
      height: 2.6rem;
      width: 2.6rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .dogCard__heart {
        -webkit-filter: drop-shadow(0px 0px 3px #ffffff);
        filter: drop-shadow(0px 0px 3px #ffffff);
      }
    }

    .dogCard__name {
      font-size: 2rem;
      line-height: 2.6rem;
      max-width: 24rem;
    }

    &--right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
