@use "../../styles/partials/variables" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 1rem;
  border: 2px solid $FetchWhite;
  width: fit-content;
  margin: 3rem auto 0;
  border-radius: 12px;
  background-color: $FetchWhite;
  padding: 5px;

  &__item {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgba($FetchPrimary, 0.4);
    }

    &--active {
      background-color: $FetchPrimary;
      font-weight: bold;
      color: $FetchWhite;
    }
  }
}
