@use "../../styles/partials/variables" as *;
@use "../../styles//partials//mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  padding: 1rem 1.6rem;
  background-color: $FetchLightGray;
  row-gap: 3rem;
  position: fixed;
  z-index: 10;
  top: 0;

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-grow: 1;

    .navbar__img {
      height: 6rem;
      width: 6rem;
      margin-right: 1rem;
    }

    .navbar__title {
      font-size: 2.6rem;
      z-index: 1;
      width: min-content;
      font-weight: bold;
    }
  }

  &__container {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    align-self: flex-start;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 4rem;
    width: 100%;
    padding-bottom: 2rem;

    &--open {
      display: flex;
    }

    &--hidden {
      display: none;
    }

    .navbar__item {
      font-size: 2.4rem;
      font-weight: bold;
      letter-spacing: 1px;

      .navbar__button {
        background-color: $FetchPrimary;
        border: 2px solid $FetchPrimary;
        color: $FetchWhite;
        border-radius: 5rem;
        padding: 1rem 0;
        width: 15rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
  }
}
