@use "../../styles/partials/variables" as *;

.dogModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(1px);
  background-image: linear-gradient(
    to bottom,
    rgba($FetchPrimary, 0.6),
    rgba($FetchPrimaryDark, 0.6)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $FetchWhite;
}
