@use "../../styles/partials/variables" as *;
@use "../../styles/partials//mixins" as *;

.homepage {
  position: relative;
  width: 100%;

  @include tablet-design {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @include desktop-design {
    max-width: 154rem;
  }

  &__headContainer {
    width: 100%;

    @include tablet-design {
      flex-grow: 1;
    }

    .homepage__header {
      padding: 3rem 0;
      margin: 2px auto 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 3rem;
      background-color: $FetchWhite;
      border-radius: 12px;
      border: 2px solid $FetchPrimary;
      min-width: 30rem;
      width: 90%;
      max-width: 55rem;

      @include tablet-design {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3rem;
        max-width: 74rem;
        width: 73%;
      }

      @include desktop-design {
        max-width: 90rem;
      }

      .header__img {
        width: 64%;
        min-width: 20rem;
        max-width: 25rem;

        @include tablet-design {
          max-width: 27rem;
          width: 40%;
        }

        @include desktop-design {
          max-width: 29rem;
        }
      }

      .header__title {
        font-size: 3rem;
        text-align: center;
        max-width: 70%;

        @include tablet-design {
          max-width: 20rem;
        }

        @include desktop-design {
          font-size: 5rem;
          max-width: 33rem;
        }
      }
    }
  }

  &__contentContainer {
    @include tablet-design {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      column-gap: 2rem;
    }

    @include desktop-design {
      padding: 0 3rem;
    }

    .homepage__listContainer {
      @include tablet-design {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 60%;
      }

      @include desktop-design {
        width: fit-content;
        max-width: 80%;
      }

      .homepage__searchList {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;
        width: 100%;
        min-width: 28rem;
        padding: 0 1rem;

        @include tablet-design {
          justify-content: space-evenly;
          padding: 0;
        }

        @media (min-width: 1500px) {
          column-gap: 0;
        }
      }
    }

    .homepage__noResults {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      border: 2px solid $FetchPrimary;
      border-radius: 12px;
      background-color: $FetchWhite;
      padding: 1rem;
    }
  }

  .loading {
    &__button {
      width: 28rem;
      height: 4rem;
      border-radius: 12px;
      background-color: gray;
      margin: 0 auto;

      @include tablet-design {
        width: 26rem;
        height: 32rem;
        margin-left: 2rem;
      }
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      margin-top: 2rem;

      @include tablet-design {
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        flex-grow: 1;
        margin: 0;
        column-gap: 2rem;
      }

      @include desktop-design {
        width: fit-content;
        max-width: 100%;
      }

      .loading__card {
        background-color: $FetchPrimaryDark;
        height: 14rem;
        width: 28rem;
        border-radius: 12px;
        overflow: hidden;

        @include tablet-design {
          width: 45%;
        }

        @include desktop-design {
          width: 30%;
        }

        @media (min-width: 1400px) {
          width: 20%;
        }

        &--top {
          height: 50%;
          width: 100%;
        }

        &--bottom {
          background-color: LightGray;
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          row-gap: 1.6rem;
          padding-left: 2rem;

          .loading__card--text {
            height: 1.6rem;
            width: 12rem;
            background-color: $FetchPrimaryDark;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
